:root{
    --green:#27ae60;
    --dark-color: #219150;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0,0,0,-1);
    --border-hover: 1rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,-1);

}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
 }

 .wrapper{
   display: flex;
 }

 .heading::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0,0,.1);
    z-index: -1;
 }

 .heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color:var(--black);
    background: #fff;
    border: var(--border)
 }

 .btn{
    margin-top: 1rem;
    display: flex;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
 }

 .btn::hover{
    background: var(--dark-color);
 }

 

 .books .book-slider .box{

    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
 }

 .books .book-slider .box::hover{

    border: var(--border-hover);

 }

 .books .book-slider .box .image{

    padding: 1rem;
    background: linear-gradient(15deg,#eee 30% #fff 30.1%);

 }

 .books .book-slider .box:hover .image{
    transform: translateY(6rem);

 }

 .books .book-slider .box .image img{
    height: 25rem;
 }

 .books .book-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
 }

 .books .book-slider .box:hover .icons{
    transform: translateY(  0%);

 }

 .books .book-slider .box .icons a{
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
 }

 .books .book-slider .box .icons a:hover{
    background: var(--green);
    color: #fff;
 }


 .books .book-slider .box .content{
    background: #eee;
    padding: 1.5rem;
 }

 .books .book-slider .box .content h3{
    font-size: 2rem;
    color: var(--black);
 }

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #26919b;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}